@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-joulu-green via-green-800 to-joulu-green text-white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}

@layer utilities {
  .snowflake {
    position: absolute;
    color: white;
    font-size: 1em;
    animation: snow linear infinite;
    opacity: 0.7;
  }
}

